.modal {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  padding: 50px;
  border-radius: 30px;
  background: var(--background-secondary);
  box-shadow: 0 2px 4px rgb(0 0 0 /20%);
}

.section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  height: 100%;
}
