.contentWrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: var(--spacing-2xl);
  width: var(--width-xl);
  height: var(--height-md);
  padding: var(--spacing-xl);
  border-radius: var(--radius-xl);
  background: var(--background-primary);
}

.content {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-sm);
}
