.backdrop {
  position: fixed;
  z-index: var(--z-dropdown);
  inset: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgb(0 0 0 / 20%);
  backdrop-filter: blur(5px);
}

.content {
  z-index: var(--z-modal);
}

.trigger {
  width: fit-content;
  height: fit-content;
  border: none;
  outline: none;
  background: none;
}
