.backdrop {
  position: fixed;
  z-index: var(--z-dropdown);
  inset: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgb(0 0 0 / 20%);
  backdrop-filter: blur(5px);
}

.content {
  position: relative;
  z-index: var(--z-modal);
}

/* .close {
  position: absolute;
  top: var(--spacing-lg);
  right: var(--spacing-lg);
  border: none;
  outline: none;
  color: var(--text-primary);
  background: none;
  cursor: pointer;
}

        <button
          type="button"
          className={styles.close}
          onClick={() => setIsOpen(false)}
        >
          <XIcon />
        </button> */
