.button {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding: 0 16px;
  border: 1px solid transparent;
  border-radius: 999px;
  outline: none;
  font-family: var(--font-body);
  font-weight: 500;
  background: none;
  transition:
    background-color 0.2s ease-in-out,
    border-color 0.2s ease-in-out,
    color 0.2s ease-in-out;
  cursor: pointer;

  &:disabled {
    cursor: not-allowed;
  }

  &.large {
    min-width: 160px;
    min-height: 48px;
    font-size: 18px;

    &.icon {
      width: 48px;
      height: 48px;

      svg {
        width: 24px;
        height: 24px;
      }
    }
  }

  &.medium {
    min-width: 140px;
    min-height: 40px;
    font-size: 16px;

    &.icon {
      width: 40px;
      height: 40px;

      svg {
        width: 20px;
        height: 20px;
      }
    }
  }

  &.small {
    min-width: 120px;
    min-height: 32px;
    font-size: 14px;

    &.icon {
      width: 32px;
      height: 32px;

      svg {
        width: 16px;
        height: 16px;
      }
    }
  }

  &.icon {
    min-width: unset;
    min-height: unset;
    padding: 0;
  }

  &.contained {
    color: var(--background-primary);
  }

  &.underlined {
    min-width: unset;
    min-height: unset;
    padding: 0;
    text-decoration: underline;
    color: var(--text-primary);
    background: none;
  }

  &.primary {
    &:not(.underlined) {
      background: var(--accent);

      &:hover,
      &:active {
        background-color: var(--accent-hover);
      }

      &:focus {
        border-color: var(--accent-hover);
      }

      &:disabled {
        color: var(--background-quaternary);
        background-color: var(--text-tertiary);
      }
    }

    &.underlined {
      &:hover,
      &:focus {
        color: var(--accent-hover);
      }

      &:active {
        color: var(--accent);
      }

      &:disabled {
        color: var(--background-quaternary);
      }
    }
  }

  &.white {
    color: var(--text-primary);

    &:not(.underlined) {
      background: var(--background-primary);

      &:hover,
      &:active {
        background-color: var(--background-tertiary);
      }

      &:focus {
        border-color: var(--text-primary);
      }

      &:disabled {
        color: var(--background-quaternary);
        background-color: var(--text-tertiary);
      }
    }

    &.underlined {
      &:hover,
      &:focus {
        color: var(--text-primary);
      }

      &:active {
        color: var(--text-secondary);
      }

      &:disabled {
        color: var(--background-quaternary);
      }
    }
  }
}
