.button {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: var(--spacing-sm) var(--spacing-lg);
  border: none;
  border-radius: var(--radius-full);
  outline: none;
  font-family: var(--font-body);
  font-size: 17px;
  font-weight: 500;
  background: none;
  transition:
    background-color 0.2s ease-in-out,
    color 0.2s ease-in-out;
  cursor: pointer;

  &.icon {
    width: var(--size-md);
    height: var(--size-md);
    padding: 0;

    svg {
      width: var(--size-2xs);
      height: var(--size-2xs);
    }
  }

  &.ghost {
    padding: 0;
  }

  &:disabled,
  &.loading {
    cursor: auto;
  }

  .buttonSpinner {
    display: none;
  }

  .buttonContent {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

.primary {
  &.contained {
    color: var(--background-primary);
    background: var(--accent);

    &:hover,
    &:active {
      background: var(--accent-hover);
    }

    &:disabled,
    &.loading {
      color: var(--background-quaternary);
      background: var(--text-tertiary);
    }
  }

  &.ghost {
    color: var(--text-primary);

    &:hover,
    &:focus {
      color: var(--accent-hover);
    }
  }
}

.white {
  color: var(--text-primary);

  &.contained {
    color: var(--text-primary);
    background: var(--background-primary);

    &:hover,
    &:active {
      background: var(--background-tertiary);
    }

    &:disabled,
    &.loading {
      color: var(--background-quaternary);
      background: var(--text-tertiary);
    }
  }
}

.loading {
  .buttonContent {
    visibility: hidden;
  }

  .buttonSpinner {
    position: absolute;
    display: block;
    animation: spin 1s linear infinite;
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}
