.input {
  width: 180px;
  height: 40px;
  padding: 5px 15px;
  border: 1px solid transparent;
  border-radius: 999px;
  outline: none;
  font-family: var(--font-body);
  font-size: 16px;
  color: var(--text-primary);
  transition:
    background-color 0.2s ease-in-out,
    border-color 0.2s ease-in-out,
    color 0.2s ease-in-out;

  &::placeholder {
    color: var(--text-tertiary);
  }

  &.contained {
    background: var(--background-primary);

    &.invalid {
      border-color: var(--error);
    }

    &:disabled {
      color: var(--background-quaternary);
      background-color: var(--text-tertiary);

      &::placeholder {
        color: var(--background-quaternary);
      }
    }
  }

  &:disabled {
    cursor: not-allowed;
  }
}
