*,
::after,
::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --accent: #da4c32;
  --accent-hover: #d43115;
  --text-primary: #2b2b2b;
  --text-secondary: #3d3c3c;
  --text-tertiary: #666;
  --background-primary: #fff;
  --background-secondary: #f9f9f9;
  --background-tertiary: #e6e6e6;
  --background-quaternary: #e2e2e2;
  --background-body: #7990a7;
  --font-title: 'Playfair Display', serif;
  --font-body: 'Inter', sans-serif;
  --error: #e42b2b;
  --info: #3174fc;
  --success: #2be472;
}

@font-face {
  font-family: 'Playfair Display';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url('/fonts/PlayfairDisplay-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'Playfair Display';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url('/fonts/PlayfairDisplay-Medium.ttf') format('truetype');
}

@font-face {
  font-family: Inter;
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url('/fonts/Inter-Regular.ttf') format('truetype');
}

@font-face {
  font-family: Inter;
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url('/fonts/Inter-Medium.ttf') format('truetype');
}

html,
body,
#root {
  height: 100%;
}

#root {
  display: flex;
  justify-content: center;
  align-items: center;
}

body {
  background: var(--background-body);
}
