*,
::after,
::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

@font-face {
  font-family: 'Playfair Display';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url('/fonts/PlayfairDisplay-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'Playfair Display';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url('/fonts/PlayfairDisplay-Medium.ttf') format('truetype');
}

@font-face {
  font-family: Inter;
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url('/fonts/Inter-Regular.ttf') format('truetype');
}

@font-face {
  font-family: Inter;
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url('/fonts/Inter-Medium.ttf') format('truetype');
}

:root {
  --accent: #da4c32;
  --accent-hover: #d43115;
  --text-primary: #2b2b2b;
  --text-secondary: #3d3c3c;
  --text-tertiary: #666;
  --background-primary: #fff;
  --background-secondary: #f9f9f9;
  --background-tertiary: #e6e6e6;
  --background-quaternary: #e2e2e2;
  --background-body: #7990a7;
  --font-title: 'Playfair Display', 'Times New Roman', times, serif;
  --font-body: 'Inter', -apple-system, blinkmacsystemfont, 'Segoe UI', roboto, sans-serif;
  --error: #dc3838;
  --info: #3974ea;
  --success: #47e684;
  --spacing-xs: 5px;
  --spacing-sm: 10px;
  --spacing-md: 15px;
  --spacing-lg: 20px;
  --spacing-xl: 30px;
  --spacing-2xl: 50px;
  --radius-xs: 4px;
  --radius-sm: 6px;
  --radius-md: 8px;
  --radius-lg: 10px;
  --radius-xl: 15px;
  --radius-2xl: 25px;
  --radius-full: 999px;
  --size-xs: 20px;
  --size-2xs: 24px;
  --size-sm: 32px;
  --size-md: 40px;
  --size-lg: 48px;
  --size-xl: 80px;
  --width-sm: 180px;
  --width-md: 250px;
  --width-lg: 400px;
  --width-xl: 800px;
  --width-2xl: 1200px;
  --height-sm: 300px;
  --height-md: 500px;
  --height-lg: 800px;
  --font-size-xs: 12px;
  --font-size-sm: 14px;
  --font-size-md: 16px;
  --font-size-lg: 18px;
  --font-size-xl: 36px;
  --font-size-2xl: 48px;
  --z-dropdown: 100;
  --z-modal: 100;
  --z-toast: 1000;
  --z-tooltip: 1000;

  /* Layout Breakpoints */
  --breakpoint-mobile: 767px;
  --breakpoint-tablet: 768px;
  --breakpoint-desktop: 1024px;
}

a {
  text-decoration: none;
}

html,
body,
#root {
  height: 100%;
  font-family: var(--font-body);
  font-size: var(--font-size-md);
  color: var(--text-primary);
}

#root {
  display: flex;
  justify-content: center;
  align-items: center;
}

body {
  background: var(--background-body);
}
