.trigger {
  display: flex;
  justify-content: space-between;
  align-items: center;
  overflow: hidden;
  width: 180px;
  height: 40px;
  padding: 0 20px;
  border: 1px solid transparent;
  border-radius: 1000px;
  outline: none;
  font-family: var(--font-body);
  font-size: 16px;
  cursor: pointer;

  .arrow {
    flex-shrink: 0;
    color: #808080;
  }

  span {
    flex: 1;
    overflow: hidden;
    margin-right: 10px;
    text-align: left;
    text-overflow: ellipsis;
    white-space: nowrap;
    color: var(--text-primary);
  }

  &.contained {
    background: var(--background-primary);
  }

  &.icon {
    width: 40px;
    height: 40px;

    span {
      display: none;
    }
  }
}

.options {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 5px;
  overflow-y: auto;
  scrollbar-width: none;
  -ms-overflow-style: none;
  scrollbar-color: transparent transparent;
  width: fit-content;
  min-width: 180px;
  max-width: 400px;
  max-height: 300px;
  padding: 8px;
  border-radius: 8px;
  background: var(--background-primary);

  &::-webkit-scrollbar {
    display: none;
  }

  > button {
    width: 100%;
    height: 100%;
    padding: 5px 10px;
    border: none;
    border-radius: 6px;
    outline: none;
    font-family: var(--font-body);
    font-size: 16px;
    text-align: start;
    color: var(--text-primary);
    background: none;
    transition: background-color 0.2s ease-in-out;
    cursor: pointer;

    &:hover {
      background: var(--background-secondary);
    }

    &.active {
      color: var(--accent);
    }
  }
}
