.sidebar {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: var(--spacing-sm);
  overflow: hidden;
  padding: var(--spacing-sm);
  border-radius: var(--radius-md);
  background: var(--background-primary);

  > a {
    width: 100%;
  }
}

.divider {
  width: 100%;
  border: 1px solid var(--background-quaternary);
}

.item {
  display: flex;
  align-items: center;
  gap: var(--spacing-xs);
  padding: var(--spacing-xs);
  border: none;
  border-radius: var(--radius-md);
  outline: none;
  color: var(--text-secondary);
  background: none;
  transition: background-color 0.2s ease-in-out;
  cursor: pointer;

  &:hover {
    background: rgb(0 0 0 /05%);
  }
}

.open {
  align-items: flex-start;
}
