.sidebar {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: var(--spacing-sm);
  overflow: hidden;
  padding: var(--spacing-sm);
  border-radius: var(--radius-md);
  background: var(--background-primary);
}

.divider {
  width: 90%;
  border: 1px solid var(--background-quaternary);
}

.toggle {
  display: flex;
  justify-content: center;
  align-items: center;
  width: var(--size-xs);
  height: var(--size-xs);
  border: none;
  outline: none;
  color: var(--text-tertiary);
  background: none;
  cursor: pointer;
}

.item {
  display: flex;
  align-items: center;
  gap: var(--spacing-xs);
  width: 100%;
  padding: var(--spacing-xs);
  border-radius: var(--radius-md);
  white-space: nowrap;
  color: var(--text-secondary);
  transition: background-color 0.2s ease-in-out;
  cursor: pointer;

  &:hover {
    background: rgb(0 0 0 /05%);
  }
}
