.toastContainer {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-sm);
}

.toast {
  z-index: var(--z-toast);
  display: flex;
  align-items: center;
  gap: var(--spacing-sm);
  overflow: hidden;
  padding: var(--spacing-sm);
  border: none;
  border-radius: var(--radius-lg);
  outline: none;
  font-family: var(--font-body);
  font-size: 16px;
  font-weight: 500;
  color: var(--background-primary);
  box-shadow: 0 2px 4px rgb(0 0 0 /20%);
  transition: transform 0.2s ease-in-out;
  animation: appear 0.2s ease-in-out forwards;
  cursor: pointer;

  &:hover {
    transform: translateY(-5px);
  }
}

.error {
  background: var(--error);
}

.info {
  background: var(--info);
}

.success {
  background: var(--success);
}

@keyframes appear {
  0% {
    opacity: 0;
    scale: 0;
  }

  100% {
    opacity: 1;
    scale: 1;
  }
}
