.header {
  display: flex;
  align-items: flex-end;
  gap: var(--spacing-sm);
}

.records {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 15px;
  border-radius: 10px;
  background: var(--background-primary);
}
