.trigger {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: var(--spacing-sm);
  width: 100%;
  min-width: var(--width-sm);
  height: var(--size-md);
  padding: var(--spacing-xs) var(--spacing-md);
  border: 1px solid transparent;
  border-radius: var(--radius-full);
  outline: none;
  font-family: var(--font-body);
  font-size: 16px;
  text-align: left;
  color: var(--text-primary);
  background: var(--background-primary);
  cursor: pointer;

  svg {
    color: var(--text-tertiary);
  }
}

.datepickerContent {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-sm);
  width: var(--width-md);
  padding: var(--spacing-md);
  border-radius: var(--radius-md);
  background: var(--background-primary);
  box-shadow: 0 2px 2px rgb(0 0 0 /20%);
}

.datepickerHeader {
  display: flex;
  gap: var(--spacing-lg);
}

.datepickerSelect {
  appearance: none;
  border: none;
  font-family: var(--font-body);
  font-size: 16px;
  background: none;
  cursor: pointer;
}

.datepickerGrid {
  display: grid;
  justify-content: center;
  gap: var(--spacing-sm);
  grid-template-columns: repeat(6, 1fr);
}

.datepickerDay {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  border: none;
  font-family: var(--font-body);
  font-size: 15px;
  background: none;
  cursor: pointer;

  &.selected {
    color: var(--accent);
  }
}
