.card {
  display: flex;
  min-width: 200px;
  border-radius: 8px;
  background: var(--background-primary);
}

.index {
  display: flex;
  flex-shrink: 0;
  justify-content: center;
  align-items: center;
  width: 36px;
  border-top-left-radius: 8px;
  border-bottom-left-radius: 8px;
  color: var(--background-primary);
  background: var(--accent);
}

.content {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  gap: 4px;
  padding: 10px;
}

.row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 8px;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.title {
  display: block;
  overflow: hidden;
  max-width: 200px;
  font-size: 16px;
  text-overflow: ellipsis;
  white-space: nowrap;
  color: var(--text-primary);
}

.description {
  font-size: 14px;
  color: var(--text-tertiary);
}

.action {
  width: 20px;
  height: 20px;
  border: none;
  outline: none;
  color: var(--text-secondary);
  background: none;
  cursor: pointer;

  svg {
    width: 20px;
    height: 20px;
    stroke-width: 1.5;
  }
}
