.card {
  display: flex;
  min-width: var(--width-sm);
  border-radius: var(--radius-md);
  background: var(--background-primary);
}

.index {
  display: flex;
  flex-shrink: 0;
  justify-content: center;
  align-items: center;
  width: var(--size-sm);
  padding: var(--spacing-xs);
  border-top-left-radius: var(--radius-md);
  border-bottom-left-radius: var(--radius-md);
  color: var(--background-primary);
  background: var(--accent);
}

.content {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  gap: var(--spacing-xs);
  padding: var(--spacing-sm);
}

.row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: var(--spacing-sm);
  text-overflow: ellipsis;
  white-space: nowrap;
}

.title {
  display: block;
  overflow: hidden;
  max-width: var(--width-sm);
  font-size: var(--font-size-md);
  text-overflow: ellipsis;
  white-space: nowrap;
  color: var(--text-primary);
}

.description {
  font-size: var(--font-size-sm);
  color: var(--text-tertiary);
}

.action {
  width: var(--size-xs);
  height: var(--size-xs);
  border: none;
  outline: none;
  color: var(--text-secondary);
  background: none;
  cursor: pointer;

  svg {
    width: var(--size-xs);
    height: var(--size-xs);
    stroke-width: 1.5;
  }
}

@media (width <= 767px) {
  .card {
    flex-direction: column;
  }

  .index {
    width: 100%;
    border-radius: var(--radius-md) var(--radius-md) 0 0;
  }
}

@media (width >= 768px) and (width <= 1023px) {
  .card {
    flex-direction: row;
  }
}
