.trigger {
  z-index: var(--z-tooltip);
}

.content {
  position: absolute;
  top: 0;
  left: 0;
  padding: var(--spacing-sm);
  border-radius: var(--radius-sm);
  font-family: var(--font-body);
  font-size: 14px;
  color: var(--text-primary);
  background: var(--background-primary);
  box-shadow: 0 2px 4px rgb(0 0 0 /20%);
}
