.trigger {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 180px;
  height: 40px;
  padding: 5px 15px;
  border: 1px solid transparent;
  border-radius: 999px;
  outline: none;
  font-family: var(--font-body);
  font-size: 16px;
  cursor: pointer;

  input {
    flex: 1;
    width: 100%;
    border: none;
    outline: none;
    font-family: var(--font-body);
    font-size: 16px;
    text-overflow: ellipsis;
    white-space: nowrap;
    color: var(--text-primary);
    background: none;

    &::placeholder {
      color: var(--text-tertiary);
    }
  }

  .arrow {
    color: var(--text-tertiary);
  }

  &.contained {
    background: var(--background-primary);

    &.invalid {
      border-color: var(--error);
    }
  }
}
