.trigger {
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-width: 160px;
  max-width: 240px;
  height: 40px;
  padding: 0 20px;
  border: 1px solid transparent;
  border-radius: 999px;
  outline: none;
  font-family: var(--font-body);
  font-size: 16px;
  cursor: pointer;

  svg {
    color: var(--text-tertiary);
  }

  input {
    flex: 1;
    overflow: hidden;
    width: 100%;
    border: none;
    outline: none;
    font-family: var(--font-body);
    font-size: 16px;
    text-overflow: ellipsis;
    white-space: nowrap;
    color: var(--text-primary);
    background: none;

    &::placeholder {
      color: var(--text-tertiary);
    }
  }

  &.contained {
    background: var(--background-primary);
  }
}
