.badge {
  border-radius: 4px;
  color: var(--background-primary);
}

.accent {
  background: var(--accent);
}

.black {
  color: var(--background-primary);
  background: var(--text-primary);
}

.white {
  color: var(--text-primary);
  background: var(--background-primary);
}

.small {
  padding: 3px 8px;
  font-size: 14px;
}

.medium {
  padding: 6px 12px;
}
