.page {
  display: flex;
  gap: 50px;
}

.section {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-lg);
}

.header {
  display: flex;
  align-items: center;
  gap: var(--spacing-lg);
}

@media (width <= 767px) {
  .page {
    flex-direction: column;
  }
}
