.textarea {
  padding: var(--spacing-md);
  border: 1px solid transparent;
  border-radius: var(--radius-lg);
  outline: none;
  font-family: var(--font-body);
  font-size: 16px;
  color: var(--text-primary);
  transition:
    background-color 0.2s ease-in-out,
    border-color 0.2s ease-in-out,
    color 0.2s ease-in-out;

  &::placeholder {
    font-family: var(--font-title);
    font-size: 16px;
    font-weight: 500;
  }

  &.contained {
    background: var(--background-primary);

    &:focus {
      border-color: var(--text-primary);
    }

    &:disabled {
      color: var(--background-quaternary);
      background-color: var(--text-tertiary);

      &::placeholder {
        color: var(--background-quaternary);
      }
    }
  }

  &:disabled {
    cursor: not-allowed;
    resize: none;
  }
}
